h2 {
line-height: 3.6rem;
font-family: museo_500regular, Arial, sans-serif;
}
.reveal-modal {
visibility: hidden;
top: 0;
left: 0;
width: 100%;
position: absolute;
z-index: 101;
}
#supplementarypanels {
border-bottom: #CCC solid 1px;
border-top: #00aeef solid 4px;
position: absolute;
top: 26px;
left: 0;
z-index: 2001;
float: left;
background: #fff;
}
.fullwidthwrapper {
display: inline;
width: 100%;
clear: both;
}
.centre {
margin-left: auto;
margin-right: auto;
width: 988px;
}
div.account-logged-in-modal #supplementarypanels4 .panelheight {
min-height: 350px;
}
.panelheight {
min-height: 260px;
width: 988px;
}
.grid_left_colum, .grid_content_colum {
width: 232px;
display: block;
float: left;
}
#supplementarypanels h2 {
font-size: 233.4%;
font-weight: normal;
margin-bottom: 12px;
margin-top: 33px;
color: #00aeef;
}
.size16px {
font-size: 133.4%;
}
.stagmedium {
font-family: 'museo_500regular', Arial, Helvetica, sans-serif;
}
p.doublespace, .doublespace {
padding: 0 0 28px 0;
margin: 0;
}
.bold {
font-weight: bold;
}
.div_big_right_colum {
width: 720px;
display: block;
float: right;
}
.top, .bottom {
width: 100%;
display: block;
float: left;
}
.top {
margin-top: 20px;
}
.bottom {
margin-top: 25px;
height: 200px;
}
.reveal-modal .close-reveal-modal {
font-size: 35px;
line-height: .5;
color: #AAA;
font-weight: bold;
cursor: pointer;
float: right;
}
.grid_left_colum, .grid_content_colum {
width: 232px;
display: block;
float: left;
}
.account_left_side {
width: 180px;
height: 190px !important;
}
.account_right_side {
border-left: 4px solid #00aeef;
width: 530px;
height: 190px !important;
}
.account_left_side ul {
list-style: none;
margin: 0;
padding: 0;
}
.account_left_side ul li {
display: block;
float: left;
width: 100%;
}
.account_left_side ul li a {
padding: 10px 10px 10px 45px;
background-color: #fff;
color: #00aeef;
font-weight: bold;
font-size: 120%;
width: 125px;
display: block;
}
.account_left_side ul li a.selected {
background: #00aeef;
color: #fff;
font-weight: bold;
}
a#account_account_btn {
background: url(account.png) top left no-repeat #fff;
}
a#account_account_btn.selected {
background: url(account_hover.png) top left no-repeat #00aeef;
}
a#account_inbox_btn.selected:hover {
text-decoration: none;
background: url(inbox_hover.png) top left no-repeat #00aeef;
}
a#account_inbox_btn.selected {
background: url(inbox_hover.png) top left no-repeat #00aeef;
}
a#account_inbox_btn:hover {
background: url(inbox.png) top left no-repeat #c7eafb;
}
a#account_inbox_btn {
background: url(inbox.png) top left no-repeat;
}
a#account_friends_btn {
background: url(friends.png) top left no-repeat;
}
a#account_admin_btn.selected {
background: url(admin_hover.png) top left no-repeat #00aeef;
}
a#account_admin_btn {
background: url(admin.png) top left no-repeat;
}
#account_right_account ul li a {
padding: 10px;
margin: 0;
background: none;
display: block;
float: left;
width: 90%;
font-weight: bold;
}
#account_right_account ul li a:hover {
background: #c7eafb;
}